@{
    ViewData["Title"] = "Home Page";
}


@section scripts{
    <script type="module" src="~/game/main.js"></script>
}
<div class="screen">
    <game-status></game-status>
    <div class="game-board-wrapper">
        <game-board index="6"></game-board>
    </div>
</div>
<a href="c:\users\qvand\source\repos\showcaseopdracht\showcasezeeslag\views\home\index.cshtml">c:\users\qvand\source\repos\showcaseopdracht\showcasezeeslag\views\home\index.cshtml</a>